header {
  text-align: center;
  background-color: #582fb7;
  padding: 20px;

}

h1 {
  color: white;
  font-family: 'Teko', sans-serif;
  line-height: 50px;
  font-size: 60px;
}

h2 {
  font-size: 33px;
  color: #582fb7;
  text-align: center;
  padding: 20px;
  font-family: 'Teko', sans-serif;
}

button {
  display: none;
}

div {
  border: 10px solid #582fb7;
  border-radius: 5px;
  margin: 25px auto;
  max-width: 200px;
  max-height: 200px;
  color: #582fb7;
  font-family: sans-serif;
  font-size: 125px;
  text-align: center;
  padding: 30px 20px;
  box-shadow: 10px 10px 5px grey;
}

#box1 {
  background-color: yellow;
}

#box2 {
  background-color: #4efcf9;
}

#box3 {
  background-color: #7ffc41;
}


@media (min-width:800px) {
  .container {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    max-width: 900px;
    max-height: 800px;
    margin: 0 auto;
  }

  div {
    font-size: 120px;
    padding: 50px 75px;
  }
}
